* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: hsl(23, 76%, 74%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 30px;
}
body {
    background-color: hsl(31, 38%, 89%);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace, sans-serif;
}
.list {
    background-color: hsl(330, 100%, 98%);
}
.list h3{
    color:  hsl(332, 51%, 32%);
}
.list2 h3 {
    color: hsl(14, 45%, 36%);
}
.list3 h3 ,.list4 h3 {
    color: hsl(14, 45%, 36%);
}
.tab2{
    color: hsl(14, 45%, 36%);
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
